[submodule "DQLab-Course"]
	path = DQLab-Course
	url = https://github.com/arofiqimaulana/DQLab-Course
[submodule "udemy-python-for-data-science"]
	path = udemy-python-for-data-science
	url = https://github.com/arofiqimaulana/udemy-python-for-data-science
[submodule "Udemy-Algorithmic-Problem-in-Python"]
	path = Udemy-Algorithmic-Problem-in-Python
	url = https://github.com/arofiqimaulana/Udemy-Algorithmic-Problem-in-Python
[submodule "Datacamp-Course"]
	path = Datacamp-Course
	url = https://github.com/arofiqimaulana/Datacamp-Course
[submodule "Course-Python-For-Data-Analysis"]
	path = Course-Python-For-Data-Analysis
	url = https://github.com/arofiqimaulana/Course-Python-For-Data-Analysis
